--find-links https://cvg-data.inf.ethz.ch/lamaria/packages/pyceres/
--find-links https://cvg-data.inf.ethz.ch/lamaria/packages/pycolmap/

projectaria-tools'[all]'
omegaconf
scipy
pyceres==2.6 ; python_version >= "3.9" and python_version < "3.15"
pycolmap==3.13.0.dev0 ; python_version >= "3.9" and python_version < "3.15"

-e git+https://github.com/cvg/Hierarchical-Localization.git@1252817#egg=hloc
