# commit hash: 33c134e633ddc8193f4b547d905bf1df5799df63
--find-links https://cvg-data.inf.ethz.ch/lamaria/packages/pyceres/
# https://github.com/B1ueber2y/colmap/tree/features/imu
# commit hash: 2633d1c4c3d4ae0f17a462faa3e334d9345a9c2b
--find-links https://cvg-data.inf.ethz.ch/lamaria/packages/pycolmap/

projectaria-tools'[all]'
omegaconf
scipy
pyceres==2.6 ; python_version >= "3.9" and python_version < "3.15"
pycolmap==3.13.0.dev0 ; python_version >= "3.9" and python_version < "3.15"

-e git+https://github.com/cvg/Hierarchical-Localization.git@1252817#egg=hloc
